[submodule "tests/xorg/xcalc"]
	path = tests/xorg/xcalc
	url = git://anongit.freedesktop.org/xorg/app/xcalc
[submodule "tests/xorg/xmessage"]
	path = tests/xorg/xmessage
	url = git://anongit.freedesktop.org/xorg/app/xmessage
[submodule "tests/xorg/xclock"]
	path = tests/xorg/xclock
	url = git://anongit.freedesktop.org/xorg/app/xclock
[submodule "tests/xorg/xbiff"]
	path = tests/xorg/xbiff
	url = git://anongit.freedesktop.org/xorg/app/xbiff
[submodule "spdiff-exp"]
	path = spdiff-exp
	url = https://github.com/nacuong/spdiff-exp.git
